<h2>This is what is on my mind. 140 characters and over</h2>
<div class="scroll-on-page">
  <aside id="scroll-on-page-top">
    <a class="scroll-on-page-link" href="#scroll-link-1">First Scroll Link</a>
    <a class="scroll-on-page-link" href="#scroll-link-2">Second Link</a>
    <a class="scroll-on-page-link" href="#scroll-link-3">Last Link</a>
  </aside>

  <article>
    {{#each model as |thought|}}
      <section>
        <h4 id="scroll-link-1">{{thought.title}}</h4>
        <p>{{thought.body}}</p>
        <ul>
          {{#each model.tags as |tag|}}
            <li>{{tag.name}}</li>
          {{/each}}
        </ul>
        <span>{{thought.date}}</span>
      </section>
      {{/each}}
  </article>
</div>

{{outlet}}
