<h2>This is what is on my mind. 140 characters and over</h2>
<ul>
  <li>{{link-to 'new' 'thoughts.new'}}</li>
  {{#each model as |thought|}}
    <li>
      <h4>{{thought.title}} by {{thought.author}}</h4>
      <p>{{thought.body}}</p>
      <span>written on {{thought.date}}</span>
    </li>
    {{/each}}
</ul>
{{outlet}}
