<div class="wrapper-for-content-outside-of-footer">
  <h2 id="title">andrew freeman</h2>
  {{link-to 'about me' 'about'}}
  {{link-to 'my work' 'projects'}}
  {{link-to 'my thoughts' 'thoughts'}}
  {{outlet}}
</div>

<footer class="footer-2" role="contentinfo">
    <div class="footer-secondary-links">
      <ul class="footer-social">
        <li>
          <a href="http://www.github.com/afreem66">{{fa-icon 'fa-github fa-2x'}}</a>
        </li>
        <li>
          <a href="mailto:afreem66@gmail.com">{{fa-icon 'fa-envelope fa-2x'}}</a>
        </li>
        <li>
          <a href="http://www.twitter.com/phantomphildius"> {{fa-icon 'fa-twitter fa-2x'}}</a>
        </li>
      </ul>
    </div>
</footer>

